.button-add-collection {
  border-radius: 10px;
  border: none;
  height: 60px;
  background: var(--gradient-green1);
  background: var(--gradient-green2);
  color: white;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 3px;
  cursor: pointer;
}



.button-main {
  width: 100%;
  text-decoration: none;
  text-align: center;
  background: var(--gradient-green1);
  background: var(--gradient-green2);
  color: white;
  font-weight: 900;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 15px 0;
  border: 1px solid #333;
  border-radius: 50px;
  cursor: pointer;
  font-size: .9rem;
}

.button-main:hover {
  background: darkgreen;
  /* transform: scaleX(1.1); */
}


@media(min-width:375px) {
  .button-add-collection {
    width: 300px;
  }
}

@media(min-width:1200px) {
  .button-add-collection {
    width: 400px;
  }
}