.relative-detail {
  header {
    position: relative;
  }
}

.section-detail {
  height: 100%;
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 30px;

  h1 {
    text-transform: capitalize;
    color: #333;
    font-size: 2rem;
    padding: 10px 0;
    margin-left: 5px;
  }
}

.grid-detail {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-self: center;
  height: 70%;

  >img {
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 1);
  }
}

.infos-collect {
  background-color: #fafafa;
  border-radius: 30px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 1);
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  padding: 25px 50px;
  gap: 40px;


}

.name-collect {
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    cursor: pointer;
  }
}

.type-collect {
  text-transform: capitalize;
  font-size: 1.3rem;
  color: #333;
  font-weight: 600;
}

.icone-detail {
  display: flex;
  align-items: center;
  gap: 20px;
}

.adress-detail {
  display: flex;
  flex-direction: column;
  gap: 20px;
}