.relative-detail {
  header {
    position: relative;

    h1 {
      color: #333;
      text-shadow: none;
    }
  }
}

.section-detail {
  height: 100%;
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 30px;

  h1 {
    text-transform: capitalize;
    color: #333;
    font-size: 2rem;
    padding: 10px 0;
    margin-left: 5px;
  }
}

.grid-detail {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-self: center;
  gap: 70px;
  height: 70%;

  >img {
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 1);
  }
}

.infos-collect {
  display: flex;
  flex-direction: column;
  gap: 25px;
  max-width: 50%;
}

.infos-geral {
  background-color: #fafafa;
  border-radius: 30px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 1);
  padding: 30px 55px;
  display: flex;
  justify-content: space-between;


}

.name-collect {
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    cursor: pointer;
  }
}

.type-collect {
  text-transform: capitalize;
  font-size: 1.3rem;
  color: #333;
  font-weight: 600;
}

.icone-detail {
  display: flex;
  gap: 20px;
}

.icone-adress {
  display: flex;
  gap: 20px;
}

.adress-detail {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.weather {
  display: flex;
  flex-direction: column;
  gap: 10px;
}