.bg-blue {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../public/bg-blue.jpg");
  /* filter: blur(1px); */
  /* position: fixed; */
  /* background-image: url("../../public/bg-ocean.jpg"); */
  /* right: 0;
  left: 0;
  top: 0;
  z-index: -1; */
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}


.title-main {
  margin: auto 0;
  align-self: center;
  justify-self: center;


  h1 {
    font-family: "Erica One", sans-serif;
    color: white;
    text-align: center;
    margin-bottom: 70px;
    text-transform: capitalize;
  }
}

.main-home {
  display: flex;
  flex-direction: column;
  gap: 100px;
  margin: 0 auto;
  width: 85%;
}

.container-add-collection {
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 80px;

  h2 {
    font-size: 1.8rem;
    color: #333;
    text-align: center;
  }
}



@media(min-width:375px) {
  .main-home {
    width: 90%;
    margin-top: 50px;
  }

  .title-main {
    h1 {
      font-size: 1.8rem;
      max-width: 375px;
      font-weight: 400;
    }
  }

  .container-add-collection {
    height: 80vh;

    h2 {
      font-size: 1.3rem;
      max-width: 300px;
    }
  }

  .add-collection {
    width: 300px;
  }
}

@media(min-width:768px) {
  .main-home {
    width: 85%;
    /* margin-top: 100px; */
  }

  .title-main {
    h1 {
      font-size: 4rem;
      max-width: 700px;
    }
  }

  .container-add-collection {
    height: 50vh;

    h2 {
      font-size: 1.8rem;
      max-width: 600px;
    }
  }

  .add-collection {
    width: 400px;
  }
}

@media(min-width:1200px) {
  .main-home {
    width: 85%;
    padding-top: 100px;
  }

  .title-main {
    h1 {
      font-size: 4rem;
      max-width: 700px;
      font-weight: 400;
    }
  }

  .container-add-collection {
    height: 80vh;

    h2 {
      font-size: 1.8rem;
      max-width: 600px;
    }
  }

  .add-collection {
    width: 400px;
  }
}