.bg-blue {
  height: 100vh;
  /* background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../public/bg-blue.jpg"); */
  background-image: url('../../public/bg-ocean.jpg');
  display: flex;
  flex-direction: column;
}


.title-main {
  margin: auto 0;
  align-self: center;
  justify-self: center;


  h1 {
    /* font-family: "Grandstander", cursive; */
    font-family: "Erica One", sans-serif;
    color: white;
    text-align: center;
    /* text-transform: capitalize; */
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  }
}

.main-home {
  display: flex;
  flex-direction: column;
  gap: 100px;
  margin: 0 auto;
  width: 85%;
}

.container-add-collection {
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 80px;

  h2 {
    font-size: 1.8rem;
    color: #333;
    text-align: center;
  }
}



@media(min-width:375px) {
  .bg-blue {
    background-repeat: no-repeat;
    background-size: cover;
  }

  .main-home {
    width: 90%;
    margin-top: 50px;
  }

  .title-main {
    h1 {
      font-size: 2.2rem;
      max-width: 350px;
      font-weight: 200;
      line-height: 50px;
      margin-top: 50px;
    }
  }

  .container-add-collection {
    height: 80vh;

    h2 {
      font-size: 1.3rem;
      max-width: 300px;
    }
  }

  .add-collection {
    width: 300px;
  }
}

@media(min-width:768px) {
  .main-home {
    width: 85%;
    /* margin-top: 100px; */
  }

  .title-main {
    h1 {
      font-size: 4.5rem;
      max-width: 700px;
      line-height: 70px;
      margin-top: 90px
    }
  }

  .container-add-collection {
    height: 50vh;

    h2 {
      font-size: 1.8rem;
      max-width: 600px;
    }
  }

  .add-collection {
    width: 400px;
  }
}

@media(min-width:1200px) {
  .bg-blue {
    background-repeat: round;
    background-size: cover;
  }

  .main-home {
    width: 85%;
    padding-top: 100px;
  }

  .title-main {
    h1 {
      margin-top: 40px;
      font-size: 4.5rem;
      max-width: 800px;
      font-weight: 200;
      line-height: 80px;
    }
  }

  .container-add-collection {
    height: 80vh;

    h2 {
      font-size: 1.8rem;
      max-width: 600px;
    }
  }

  .add-collection {
    width: 400px;
  }
}