.title {
  grid-column: span 2;
  font-size: 2.3rem;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  color: #333;
}

.title::before {
  content: '';
  display: inline-block;
  width: 50px;
  height: 10px;
  margin: 0 10px;
  background-color: cornflowerblue;
}

@media(min-width: 375px) {
  .title {
    font-size: 1.5rem;
    text-align: center;

  }

  .title::before {
    display: none;
  }
}

@media(min-width: 768px) {
  .title {
    font-size: 2rem;
  }

  .title::before {
    display: inline-block;
  }
}

@media(min-width: 1200px) {
  .title {
    font-size: 2.3rem;
    font-weight: 600;
  }

  .title::before {
    display: inline-block;
  }
}