.relative-login-admin {
  background: rgb(0, 142, 177);
  background: linear-gradient(180deg, rgba(0, 142, 177, 1) 0%, rgba(0, 63, 175, 1) 100%);

  header {
    position: relative;
  }
}


.section-admin {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

}

.box-login-admin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  background-color: white;
  height: 360px;
  width: 280px;
  padding: 0 30px;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  h2 {
    color: #343865;
    line-height: 28px;
    font-size: 1.5rem;
    font-weight: 900;
    width: fit-content;
    margin: 0 auto;

  }
}

.input-admin {
  gap: 10px;

  input {
    background-color: lightgrey;
    border: none;
    border-radius: 25px;
    padding: 12px 0 12px 12px;
    color: #343865;
  }

  input::placeholder {
    padding-left: 10px;
  }
}

.button-login-admin {
  background: rgb(0, 142, 177);
  background: linear-gradient(331deg, rgba(0, 142, 177, 1) 0%, rgba(0, 63, 175, 1) 100%);
  border: none;
  border-radius: 25px;
  padding: 12px 0;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
  cursor: pointer;
}


@media(min-width:375px) {
  .box-login-admin {
    gap: 35px;
    height: 360px;
    width: 280px;
  }
}

@media(min-width:768px) {
  .box-login-admin {
    gap: 35px;
    height: 500px;
    width: 400px;
    gap: 50px;

    h2 {
      line-height: 40px;
      font-size: 2rem;
      font-weight: 900;
      width: auto;
    }
  }
}

@media(min-width:1200px) {
  .box-login-admin {
    gap: 33px;
    height: 360px;
    width: 280px;

    h2 {
      color: #343865;
      line-height: 28px;
      font-size: 1.5rem;
      font-weight: 900;
      width: fit-content;
      margin: 0 auto;

    }
  }
}

@media(min-width:1400px) {
  .box-login-admin {
    gap: 50px;
    height: 500px;
    width: 400px;

    h2 {
      color: #343865;
      line-height: normal;
      font-size: 2.2rem;
      font-weight: 900;
      width: fit-content;
      margin: 0;

    }
  }
}